@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,300&display=swap');

*{
    box-sizing: border-box;
}

html, body, .wrapper{
    height: 100%;
}

body{
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0 24px;
    background-image: url(background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Ubuntu";
    color: #000;
    animation: rotate 6s infinite alternate linear;
}

.sign-up-card{
    position: relative;
    z-index: 3;
    width: 100%;
    margin: 0 20px;
    padding: 70px 30px 44px;
    border-radius: 1.25rem;
    background: #ffffff;
    text-align: center;
}

.sign-up-card > h2{
    font-size: 36px;
    font-weight: 600;
    margin: 0 0 12px;
}

.sign-up-card > h5{
    color: black;
    margin: 0 0 30px;
    font-weight: 500;
    font-size: 1rem;
}

.sign-up-form{
    width: 100%;
    margin: 0;
    display: grid;
    gap: 16px;
}

.sign-up-form > input, .sign-up-form > button{
    width: 100%;
    height: 50px;
}

.sign-up-form > input{
    border: 2px solid #ebebeb;
    font-family: inherit;
    font-size: 15px;
    padding: 0 16px;
    border-radius: 1.25rem;
    transition: all 0.375s;
}

.sign-up-form > input:hover{
    border: 2px solid #10449A;
}

.sign-up-form > button{
    cursor: pointer;
    width: 100%;
    padding: 0 16px;
    border-radius: 1.25rem;
    background: #216ce7;
    color: #ebebeb;
    border: 0;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
    transition: all 0.375s;
}

.sign-up-form > button:hover{
    background: #10449A;
}

.sign-up-form > a{
    color: #216ce7;
    font-size: 0.9rem;
    text-align: left;
    text-decoration: none;
    margin-bottom: 6px;
    transition: all 0.375s;
}

.sign-up-form > a:hover{
    color: #10449A;
}

@keyframes rotate{
    100%{
        background-position: 15% 50%;
    }
}

@media (width >= 500px){
    body{
        padding: 0;
    }
    .sign-up-card{
        margin: 0;
        width: 400px;
    }
}