/* hamburger button*/
.hamburger_button {
  display: inline-block;
  cursor: pointer;
  position: relative;
  z-index: 1000;
}

/* Position the hamburger button (top right corner) */
.hamburger_button {
  position: fixed;
  top: 25px;
  right: 45px;
  font-size: 60px;
}
  
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #000000;
  margin: 6px 0;
  transition: 0.4s;
}
  
/* Rotate first bar */
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}
  
/* Fade out the second bar */
.change .bar2 {opacity: 0;}
  
/* Rotate last bar */
.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

/* Set height of body and the document to 100% to enable "full page tabs" */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  z-index: 100;
  background-color: rgba(255, 179, 0, 1);
  padding: 20px; /* Ruang padding pada header */
  margin-bottom: 10%;
}

@media screen and (max-width: 650px) {
  header {
  height: 14%; /* Biarkan tinggi mengikuti proporsi gambar asli */
}
}

/* CSS untuk logo pada layar besar */
.header_logo {
  width: 3.5%; /* Ukuran logo pada layar besar */
  height: auto; /* Biarkan tinggi mengikuti aspek ratio */
  margin-top: 0.25px;
  margin-left: 5%;
}
  
.logo-and-text {
  display: flex;
  align-items: center;
}

/* Gaya untuk tulisan di sebelah kanan logo */
.text_logo {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  margin-left: 5%; /* Jarak antara logo dan tulisan */
  margin-top: 2.5%;
}

/* Tambahkan properti CSS untuk membuat header_logo responsif di layar kecil */
@media screen and (max-width: 650px) {
.header_logo {
  width: 15%; /* Ubah ukuran lebar sesuai kebutuhan */
  height: auto; /* Biarkan tinggi mengikuti proporsi gambar asli */
  display: block; /* Pastikan gambar berada dalam satu baris */
  margin-top: 0.25%
  margin-left: 0.25%;
}
}

/* Tambahkan properti CSS untuk membuat text_logo responsif di layar kecil */
@media screen and (max-width: 650px) {
  .text_logo {
  font-size: 10px;
  margin-top: 5%;
  margin-left: 5%;
}
}
  
body, html {
  background: linear-gradient(to right, #ffffff, rgba(255, 179, 0, 0.9));
  height: auto;
  margin: 0;
  font-family: Arial;
}

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */  
  z-index: 900; /* Atur z-index yang lebih rendah dari tombol hamburger */
  left: 0;
  top: 0;
  background-color: rgba(255, 179, 0, 1); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}
  
/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}
  
/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #000000;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}
  
/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #ffffff;
}

/* Responsif pada layar kecil (kurang dari 768px) */
@media screen and (max-width: 650px) {
  .overlay-content {
  width: 80%;
  height: 60%;
  margin-left: 10%;
  }
}
  
/* Gaya untuk tulisan di dalam kolom 1 */
.column_1 {
  float: left;
  width: 20%;
  height: auto;
  margin-top: 17.5%;
  margin-left: 3.5%;
  margin-bottom: 5%;
  padding: 7px;
  color: #000000;
  background-color: #ffffff;
  border: 3px solid #000000;
}

/* Display kolom di bawah satu sama lain pada layar kecil */
@media screen and (max-width: 650px) {
  .column_1 {
    display: block;
    width: 80%; /* Mengatur lebar menjadi 80% untuk memenuhi lebar layar kecil */
    margin-left: 10%;
    margin-top: 55%;
  }
}

/* Gaya untuk tulisan di dalam kolom */
.column {
  float: left;
  width: 20%;
  height: auto;
  margin-top: 17.5%;
  margin-left: 3.5%;
  margin-bottom: 5%;
  padding: 7px;
  color: #000000;
  background-color: #ffffff;
  border: 3px solid #000000;
  }
  
/* Display kolom di bawah satu sama lain pada layar kecil */
@media screen and (max-width: 650px) {
  .column {
    display: block;
    width: 80%; /* Mengatur lebar menjadi 80% untuk memenuhi lebar layar kecil */
    margin-left: 10%;
    margin-top: 5%;
  }
}
    
/* Some left and right padding inside the container */
.container {
  flex: 1; /* Tambahkan properti ini untuk memastikan konten memenuhi tinggi kolom */
  padding: 0 16px;
  text-overflow: ellipsis; /* Tambahkan tanda elipsis untuk menandai teks yang tersembunyi */
}
  
/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}
  
/* class product name */
.product_name {
  font-size: 17px;
  font-weight: bold;
  white-space: nowrap; /* Teks tidak akan mengalami wrap (pindah baris) */
  overflow: hidden; /* Teks yang tidak muat akan disembunyikan */
  text-overflow: ellipsis; /* Tambahkan tanda elipsis untuk menandai teks yang tersembunyi */
}
  
/* class harga */
.price {
  color: rgb(0, 0, 0);
}
  
/* Style the buttons that are used to open and close the accordion panel */
.accordion_button {
  background-color: rgba(255, 179, 0, 0.9);
  color: #000000;
  cursor: pointer;
  padding: 6px;
  width: 100%;
  height: 6.5%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}
  
/* Tambahkan media queries untuk layar kecil */
@media screen and (max-width: 650px) {
  .accordion_button {
    width: 100%; /* Dapat disesuaikan dengan kebutuhan */
    height: 4%; /* Dapat disesuaikan dengan kebutuhan */
  }
}
  
/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 15px;
  background-color: rgb(192, 192, 192);
  color: #000000;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
  
/* class beli */
.buy_button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 6px;
  color: rgb(0, 0, 0);
  background-color: #33ff00;
  text-align: center;
  cursor: pointer;
  width: 100%;
  height: 6.5%;
  border-radius: 10px;
}
  
/* Tambahkan media queries untuk layar kecil */
@media screen and (max-width: 650px) {
  .buy_button {
  width: 100%; /* Dapat disesuaikan dengan kebutuhan */
  height: 4%; /* Dapat disesuaikan dengan kebutuhan */
  }
}
  
.buy_button:active {transform: translateY(10px);}
  
* {
  box-sizing: border-box;
}

/* Gaya untuk tulisan di dalam kolom */
.column_countdowndate_1 {
  float: left;
  width: 35%;
  height: auto;
  margin-top: 3.5%;
  margin-left: 3.5%;
  margin-bottom: 10%;
  padding: 7px;
  color: #000000;
  background-color: #ffffff;
  border: 3px solid #ff0000;
}

/* Display kolom di bawah satu sama lain pada layar kecil */
@media screen and (max-width: 650px) {
  .column_countdowndate_1 {
    display: block;
    width: 80%; /* Mengatur lebar menjadi 80% untuk memenuhi lebar layar kecil */
    margin-left: 10%;
    margin-top: 30%;
  }
}

/* CSS untuk countdown timer */
.countdowndate {
  text-align: center;
  margin-top: 3.5%; /* Atur margin atas sesuai kebutuhan */
  margin-left: 0%;
  margin-right: 0%;
  font-size: 24px;
  color: #000000;
  background-color: rgba(255, 179, 0, 0.9);
  padding: 1px; /* Atur ukuran padding sesuai kebutuhan */
}
  
/* Gaya untuk tulisan di dalam kolom */
.column_countdowndate {
  float: left;
  width: 35%;
  height: auto;
  margin-top: 3.5%;
  margin-left: 3.5%;
  margin-bottom: 10%;
  padding: 7px;
  color: #000000;
  background-color: #ffffff;
  border: 3px solid #ff0000;
}

/* Display kolom di bawah satu sama lain pada layar kecil */
@media screen and (max-width: 650px) {
  .column_countdowndate {
    display: block;
    width: 80%; /* Mengatur lebar menjadi 80% untuk memenuhi lebar layar kecil */
    margin-left: 10%;
    margin-top: 2.5%;
    margin-bottom: 30%;
  }
}

/* CSS untuk countdown timer */
.countdowndate {
  text-align: center;
  margin-top: 3.5%; /* Atur margin atas sesuai kebutuhan */
  margin-left: 0%;
  margin-right: 0%;
  font-size: 24px;
  color: #000000;
  background-color: rgba(255, 179, 0, 0.9);
  padding: 1px; /* Atur ukuran padding sesuai kebutuhan */
}

/* class countdown_button */
.countdown_button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 6px;
  color: rgb(0, 0, 0);
  background-color: #33ff00;
  text-align: center;
  cursor: pointer;
  width: 100%;
  height: 6.5%;
  border-radius: 10px;
}
  
/* Tambahkan media queries untuk layar kecil */
@media screen and (max-width: 650px) {
  .countdown_button {
  width: 100%; /* Dapat disesuaikan dengan kebutuhan */
  height: 8%; /* Dapat disesuaikan dengan kebutuhan */
  }
}

/* Style the buttons that are used to open and close the collapsible panel */
.collapsible_button {
  margin-top: 2px;
  margin-left: 11.5%;
  background-color: rgba(255, 255, 255, 0.9);
  color: #000000;
  cursor: pointer;
  padding: 6px;
  width: 75%;
  height: 6.5%;
  text-align: left;
  border-left: 2px solid #000000;
  border-right: 2px solid #000000;
  transition: 0.4s;
}
  
/* Tambahkan media queries untuk layar kecil */
@media screen and (max-width: 650px) {
  .collapsible_button {
    width: 80%; /* Mengatur lebar menjadi 80% untuk memenuhi lebar layar kecil */
    height: auto; /* Dapat disesuaikan dengan kebutuhan */
    margin-left: 10%;
    margin-block-end: 0.25%;
  }
}
  
/* Style the collapsible panel. Note: hidden by default */
.collapsible_panel {
  margin-left: 11.5%;
  margin-right: 13.5%;
  padding: 0 15px;
  background-color: rgb(192, 192, 192);
  color: #000000;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border-left: 2px solid #000000;
  border-right: 2px solid #000000;
}

/* Tambahkan media queries untuk layar kecil */
@media screen and (max-width: 650px) {
  .collapsible_panel {
    width: 80%; /* Mengatur lebar menjadi 80% untuk memenuhi lebar layar kecil */
    height: auto; /* Dapat disesuaikan dengan kebutuhan */
    margin-left: 10%;
    margin-block-end: 0.25%;
  }
}

.about {
  display: flex; /* Menggunakan Flexbox untuk layout */
  margin-top: 7.5%;
  margin-bottom: 8.5%;
}

/* class profile card*/
.profile_card {
  flex-basis: 75%;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.9);
  background-color: #ffffff;
  margin: auto;
  text-align: center;
  margin-top: 5%;
  margin-right: 3.5%;
  margin-left: 5%;
}

/* Tambahkan media queries untuk layar kecil */
@media screen and (max-width: 650px) {
  .profile_card{
    width: 80%; /* Mengatur lebar menjadi 80% untuk memenuhi lebar layar kecil */
    height: auto; /* Dapat disesuaikan dengan kebutuhan */
    margin-top: 25%;
    margin-bottom: 25%;
    margin-left: 9.5%;
  }
}

.title {
  color: rgb(0, 0, 0);
  font-size: 18px;
  margin-left: 2%;
  margin-right: 2%;
}

.contact {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: rgb(249, 249, 249);
  background-color: rgba(255, 179, 0, 0.9);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.contact:hover {
  background-color: #000000;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  flex-basis: 90%;
  position: relative;
  margin: 0 auto;
  margin-top: 5%;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: rgba(255, 179, 0, 1);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
  border: 1px solid black;
}

/* Container around content */
.timeline_position {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
  margin-bottom: 3%;
}

/* The circles on the timeline */
.timeline_position::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  right: -19.5px;
  background-color: rgba(255, 179, 0, 1);
  border: 4px solid #000000;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* The circles on the timeline */
@media screen and (max-width: 650px) {
  .timeline_position::after {
    position: absolute;
    width: 30px;
    height: 30px;
    right: -19.5px;
    background-color: rgba(255, 179, 0, 0.9);
    border: 4px solid #000000;
    top: 30%;
    border-radius: 50%;
    z-index: 1;
  }
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: rgba(255, 255, 255, 0.9);
  position: relative;
  border-radius: 6px;
  color: #000000;
  border: 2px solid black; /* Mengatur border berwarna hitam dengan lebar 1px */
  padding: 10px; /* Opsional: tambahkan padding agar konten tidak terlalu dekat dengan border */
}

/* Tambahkan media queries untuk layar kecil */
@media screen and (max-width: 650px) {
  .content {
    margin-top: 15%;
  }
}

/* Place the timelime to the left */ 
@media screen and (max-width: 650px) {
  .timeline::after {
    left: 31px;
    margin-top: 10%;
  }
/* Full-width containers */
  .timeline_position {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }
/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

/* Media query untuk layar kecil */
@media screen and (max-width: 650px) {
  /* Atur tata letak elemen class="timeline" dan class="profile_card" agar berada dalam satu kolom */
  .about {
    flex-direction: column; /* Agar elemen class="about" berada dalam satu kolom pada layar kecil */
  }

  .timeline {
    order: 2; /* Pindahkan class="timeline" ke posisi kedua (bawah) pada layar kecil */
    width: 90%;
    height: auto;
  }
}


/* class find_us */
.find_us {
  margin-top: 5%;
  margin-left: 0%;
  font-size: 25px;
  color: #000000;
}

/* Tambahkan media queries untuk layar kecil */
@media screen and (max-width: 650px) {
  .find_us {
    margin-top: 5%;
    margin-left: 1%;
  }
}

/* class socmed_button */
.socmed_button {
  margin-top: 1.5%;
  margin-inline: 5%;
  margin-left: 5.5%;
  width: 5%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 9px #727272
}

.socmed_button:active {
  box-shadow: 0 5px #585757;
  transform: translateY(10px);
}

/* Tambahkan media queries untuk layar kecil */
@media screen and (max-width: 650px) {
  .socmed_button {
    margin-left: 5%;
    width: 10%; /* Dapat disesuaikan dengan kebutuhan */
    height: auto; /* Dapat disesuaikan dengan kebutuhan */
    box-shadow: 0 5px #727272
    
  }
}

/* footer*/
footer {
  background-color: rgba(255, 179, 0, 0.9); /* Warna latar belakang footer */
  color: #000000; /* Warna teks pada footer */
  text-align: center; /* Posisi teks pada footer di tengah-tengah */
  width: 100%;
  height: 65%;
  margin-top: 10%;
}

/* Responsif pada layar kecil (kurang dari 768px) */
@media screen and (max-width: 650px) {
  footer {
    height: 40%; /* Atur tinggi khusus untuk layar kecil */
    margin-top: 30%;
  }
}

.copyright {
  margin-top: 10%;
}

@media screen and (max-width: 650px) {
  .copyright {
    margin-top: 25%;
  }
}
